@{
	ViewData["Title"] = "Sobre nós";
}

<div class="jumbotron">
	<h1 class="display-3">Olá Caro Cliente</h1>
	<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	<hr class="my-4">
	<p>
		Cras maximus nibh nec eros scelerisque accumsan vel in dolor. Mauris auctor risus id viverra ultrices.
		Vestibulum in euismod ligula. Cras id ornare tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur dictum augue a convallis auctor.
		Nam fringilla turpis in suscipit facilisis. Pellentesque quis felis libero. Maecenas viverra semper urna id porta. In placerat, libero sit amet ullamcorper ullamcorper, odio tellus consectetur nibh, aliquet ultrices justo magna vel ante. Nulla tincidunt augue non nunc vestibulum accumsan. Nullam bibendum pulvinar tellus, ut tincidunt diam tincidunt feugiat. Maecenas vulputate volutpat dolor, at pretium quam luctus sit amet. Mauris semper eros eget nisl accumsan tempor. In ac lacus finibus, vestibulum purus vel, lacinia purus. Aliquam pulvinar ex a tristique vestibulum.
	</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="TermsOfService" role="button">Conheça os nossos Termos de Serviço</a>
	</p>
</div>