@model Trabalho_Laboratorio.Models.Restaurante

@{
	ViewData["Title"] = "Create";
}
<div class="container">
	<h4>Restaurante</h4>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Registar" enctype="multipart/form-data">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<div class="form-group">
					<label asp-for="NomeRestaurante" class="control-label"></label>
					<input asp-for="NomeRestaurante" class="form-control" />
					<span asp-validation-for="NomeRestaurante" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Telefone" class="control-label"></label>
					<input asp-for="Telefone" class="form-control" />
					<span asp-validation-for="Telefone" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Foto" class="control-label"></label>
					<input asp-for="Foto" type="file" class="form-control" />
					<span asp-validation-for="Foto" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="TipoServico" class="control-label"></label>
					<input asp-for="TipoServico" class="form-control" />
					<span asp-validation-for="TipoServico" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="DiaDeDescanso" class="control-label"></label>
					<input asp-for="DiaDeDescanso" class="form-control" />
					<span asp-validation-for="DiaDeDescanso" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Registar" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>

	<div>
		<a asp-action="Index">Back to List</a>
	</div>
</div>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}