@model Trabalho_Laboratorio.Models.Restaurante

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Restaurante</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="IdRestaurante" />

			<div class="form-group">
				<label asp-for="NomeRestaurante" class="control-label"></label>
				<input asp-for="NomeRestaurante" class="form-control" />
				<span asp-validation-for="NomeRestaurante" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Telefone" class="control-label"></label>
				<input asp-for="Telefone" class="form-control" />
				<span asp-validation-for="Telefone" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Foto" class="control-label"></label>
				<input asp-for="Foto" class="form-control" />
				<span asp-validation-for="Foto" class="text-danger"></span>
			</div>
			<div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="StatusRestaurante" /> @Html.DisplayNameFor(model => model.StatusRestaurante)
				</label>
			</div>
			<div class="form-group">
				<label asp-for="TipoServico" class="control-label"></label>
				<input asp-for="TipoServico" class="form-control" />
				<span asp-validation-for="TipoServico" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DiaDeDescanso" class="control-label"></label>
				<input asp-for="DiaDeDescanso" class="form-control" />
				<span asp-validation-for="DiaDeDescanso" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}